@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  width: 900px;
  margin: 0 auto;
  background: #02010a;
  font-family: 'Dancing Script';
}

header {
  background-color: #5b7989;
  height: 100px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
  text-align: justify;
}

header .titulo{
  width: 50%;
  float: left;
}

header .links{
  width: 50%;
  float: left;
  padding-top: 40px;
}

header h2{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}

header nav{
  vertical-align: middle;
  float: right;
}

footer{
  background-color: #C6d5c5;
  height: 180px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: justify;
}

footer img{
  width: 15%;
  height: 10%;
}

footer h2{
  text-align: center;
  margin: 0;
}

footer .izq{
  width: 25%;
  float: left;
}

footer .centralizq{
  width: 25%;
  float: left;
  text-align: center;
}

footer .drch{
  width: 25%;
  float: right;
  text-align: center;
}

footer .centraldrch{
  width: 25%;
  float: left;
}

.central {
  background: #82c3a6;
  height: 350px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.central img{
  width: 50%;
  height: 70%;
  display: block;
  margin: auto;
}

.secundarias {
  background: #d5c75f;
  height: 350px;
  border: 1px;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  display: block;
  text-align: center;
  vertical-align: middle;
}

.secundarias img{
  width: 70%;
  height: 90%;
  margin: 12.5% auto;
}
