@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  width: 900px;
  margin: 0 auto;
  background: #02010a;
  font-family: 'Dancing Script';
}

header {
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

header h2{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}

header nav{
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

header A::selection{
  text-decoration: none;
}

Footer {
  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.central {
  background: #82c3a6;
  height: 80%;
  align-content: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.central img{
  width: 60%;
  height: 80%;
  display: block;
  margin: auto;
}
